config.stopBubbling = true

lombok.copyableAnnotations += io.jochimsen.cahapp.di.qualifier.ApplicationContext
lombok.copyableAnnotations += io.jochimsen.cahapp.di.qualifier.GameserverHost
lombok.copyableAnnotations += io.jochimsen.cahapp.di.qualifier.GameserverPort
lombok.copyableAnnotations += io.jochimsen.cahapp.di.qualifier.InitialMessage
lombok.copyableAnnotations += io.jochimsen.cahapp.di.qualifier.WebserviceUrl